<!DOCTYPE html>
<html>
	<head>
		<title>summerlius</title>
		<meta charset="utf8"/>
		<!-- <link rel="shortcut icon" href="https://www.baidu.com/favicon.ico" type="image/x-icon" /> -->
		<!-- <link rel="icon" href="https://www.baidu.com/favicon.ico" type="image/x-icon" /> -->
		<link rel="shortcut icon" href="//www.google.com.hk/images/branding/product/ico/googleg_lodp.ico" type="image/x-icon" />
		
		<meta name="author" content="summerlius"/>
		<meta name="keywords" content="HTML,CSS,JS"/>
		<meta name="description" content="This is a description"/>

		<meta http-equiv="content-type" content="text/html; charset=utf8">

		<!-- <meta http-equiv="Set-Cookie"content="cookievalue=xxx;path=/"> -->

		<link rel="stylesheet" href="css/main.css" type="text/css"/>


		<!-- <base href="http://www.baidu.com" target="_blank"/> -->

		<!--[if lt IE 9]>↩
			<script src="script/html5shiv.js"></script>↩
		<![endif]-->
	</head>
	<body>
		<div class="wrapper">
			<header>
				这是标题啊
			</header>

			<section>
				这是正文
			</section>
				<!-- <p title="段落一">段落一<sup>abc</sup></p>
				<p title="段落二" hidden>段落二</p>
				<p title="段落三">段落三</p>
				<p title="段落四">段落四</p>

				<p title="段落四" style="overflow: hidden;max-height: 50px;max-width: 100px;">哈哈哈哈哈哈啊啊啊哈哈哈哈哈</p>

				<ul>
					<li>顺序1</li>
					<li>顺序2</li>
				</ul>

				<ol>
					<li>顺序1</li>
					<li>顺序2</li>
				</ol>

				<button type="button" onclick="location.reload()">Click Me!</button> -->
		</div>

		<div class="pagination">
			<ul>
				<li><a href="#1">Prev</a></li>
				<li><a href="#2">1</a></li>
				<li><a href="#3">2</a></li>
				<li><a href="#4">3</a></li>
				<li><a href="#5">4</a></li>
				<li><a href="#6">5</a></li>
				<li><a href="#7">6</a></li>
				<li><a href="#8">Next</a></li>
			</ul>
		</div>

		<br>
		<br>
		<a href="/test.txt">测试下载文件</a>

		<!-- <div id="sb">
			中间➖888888888888888888888888888888888
		</div> -->
	</body>
















	<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
	<!-- <script src="/js/my.js"></script> -->

	<script type="text/javascript" src="/lib/requirejs/require-2.3.5.min.js"></script>
	<script type="text/javascript" src="/js/requireConfig.js"></script>
	
	<script>
		 require(['main']);
		// console.log(require);
	</script>
</html>