<!DOCTYPE>
<html>
	<head>
		<title>summerlius</title>
		
		<!-- <link rel="shortcut icon" href="https://www.baidu.com/favicon.ico" type="image/x-icon" /> -->
		<!-- <link rel="icon" href="https://www.baidu.com/favicon.ico" type="image/x-icon" /> -->
		<link rel="shortcut icon" href="//www.google.com.hk/images/branding/product/ico/googleg_lodp.ico" type="image/x-icon" />
		
		<meta name="author" content="summerlius"/>
		<meta name="keywords" content="HTML,CSS,JS"/>
		<meta name="description" content="This is a description"/>

		<meta http-equiv="content-type" content="text/html; charset=utf8">

		<!-- <meta http-equiv="Set-Cookie"content="cookievalue=xxx;path=/"> -->

		<link rel="stylesheet" href="css/main.css" type="text/css"/>


		<!-- <base href="http://www.baidu.com" target="_blank"/> -->
	</head>
	<body>
		<div>
				<p>段落一</p>
				<p>段落二</p>
				<p>段落三</p>
				<p>段落四</p>
		</div>
		<!-- <p><a href="www.baidu.com">链================</a></p> -->
	</body>

	<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
	<script src="/js/my.js"></script>
</html>